<div class="result_stats" id="result_stats">
<%- resultStats%>
</div>

<div class="search_result" id="search_result">
<%for (var i = 0, total = list.length; i < total; i++) {%>
    <div class="s_r shadow">
        <a target="_blank" class="title" href="<%= list[i].url%>" name="r_url"><%- list[i].title%></a>
        <div class="visible_url"><%- list[i].cite%></div>
        <span class="min_content"><%- list[i].content%></span>
    </div>
<%}%>
</div>