<ul class="pagination">
<%if (qs.start > 0) {%>
    <li><a href="/search?q=<%= qs.encodeQ%>&start=<%= page.pre%>">上一页</a></li>
<%}%>
<% for (var i = page.start,index=0, total = page.end; i <total; i++) {%>
    <%if (qs.start == i*10) {%>
        <li class="active"><a><%= page.num[index++]/10+1%></a></li>
    <%} else {%>
        <li><a href="/search?q=<%= qs.encodeQ%>&start=<%= page.num[index]%>"><%= page.num[index++]/10+1%></a></li>
    <%}%>
<%}%>
    <li><a href="/search?q=<%= qs.encodeQ%>&start=<%= page.next%>">下一页</a></li>
</ul>