<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title><%= qs.q %> - 谷搜客</title>
    <meta charset="utf-8"/>
      <meta name="description" content="谷搜客基于Google搜索,为喜爱谷歌搜索的朋友们免费提供高速稳定的搜索服务。搜索结果通过Google.com实时抓取，欢迎您在日常生活学习中使用谷搜客查询资料。" />
      <meta name="keywords" content="谷歌 谷搜客 google 谷歌不能访问 gusouk" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="apple-mobile-web-app-title" content="谷搜客">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" type="text/css" href="stylesheets/vendor/jquery.autocomplete.css" />
    <link rel='stylesheet' href="<%= r_prefix %>/stylesheets/style.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="<%= r_prefix %>/images/favicon.ico" />
    <link rel="icon" href="<%= r_prefix %>/images/favicon.ico">
    <link rel="bookmark" type="image/x-icon"  href="<%= r_prefix %>/images/favicon.ico" />
      <link rel="search" type="application/opensearchdescription+xml" href="<%= r_prefix %>/opensearch.xml" title="谷搜客" />
    <!--[if lt IE 9]>
             <style>
                .headroom-pinned {
                    top: 0;
                }
                .headroom-unpinned {
                    top: -100px;
                }
        </style>
    <![endif]-->
</head>
<body>
<div class="wrapper gray-body">
    <div class="search-result">
        <div class="header-bar shadow"  id="header_bar">
            <div class="logo">
                <a href="/"><img width="167" height="373" src="<%= r_prefix %>/images/nav_logo.png"></a>
            </div>
            <div class="form_box">
                <form action="/search">
                    <input id="search_txt_id" class="s_text" type="text" name="q" value="<%= qs.q%>" autocomplete="off"/>
                    <input class="s_submit m-button" value="搜&nbsp;索" type="submit">
                </form>
            </div>
        </div>
        <div class="content">
            <%- content%>
            <%- extrares%>
            <%- pagination%>
        </div><!-- div.content end-->
    </div>
</div>
<%- footer%>

   <script src="/javascripts/vendor/headroom.min.js"></script>
   <script type="text/javascript">
        (function (Headroom) {
            var myElement = document.querySelector("#header_bar");
            // 创建 Headroom 对象，将页面元素传递进去
            var headroom  = new Headroom(myElement, {
                classes : {
                  pinned : 'headroom-pinned',
                  unpinned : 'headroom-unpinned'
                }
            });
            // 初始化
            headroom.init(); 
        })(Headroom);
   </script>
    <%if (!constant.encrypted) {%>
    <script type="text/javascript" src="/javascripts/wordcheck.js"></script>
    <%}%>
<!--这是我自己的网站统计   http://gso.mlongbo.com    请替换掉-->
<!--//gascript <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42596364-2', 'auto');
    ga('send', 'pageview');

</script> //gascript-->
</body>
</html>
