<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="zh-CN"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="zh-CN"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="zh-CN"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
      <title><%= constant.name%> - 基于Google的实时搜索服务</title>
      <meta charset="utf-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="renderer" content="webkit">
      <meta http-equiv="Cache-Control" content="no-siteapp" />
      <meta name="description" content="谷搜客基于Google搜索,为喜爱谷歌搜索的朋友们免费提供高速稳定的搜索服务。搜索结果通过Google.com实时抓取，欢迎您在日常生活学习中使用谷搜客查询资料。" />
      <meta name="keywords" content="谷歌 谷搜客 google 谷歌不能访问 gusouk" />
      <meta name="apple-mobile-web-app-title" content="<%= constant.name%>">
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="author" content="Longbo Ma,mlongbo@gmail.com China">
      <link rel="stylesheet" href="<%= constant.r_prefix%>/stylesheets/normalize.css">
      <link rel="stylesheet" href="<%= constant.r_prefix%>/stylesheets/main.css">
      <link rel="stylesheet" href="<%= constant.r_prefix%>/stylesheets/bdshare.css">
      <link rel="stylesheet" href="<%= constant.r_prefix%>/stylesheets/font-awesome.css">
      <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
      <link rel="icon" href="/images/favicon.ico">
      <link rel="bookmark" type="image/x-icon"  href="/images/favicon.ico" />
      <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="<%= constant.name%>" />
      <script src="<%= constant.r_prefix%>/javascripts/vendor/modernizr-2.6.2.min.js"></script>
  </head>
  <body>
      <!--[if lt IE 9]>
          <p class="chromeframe">为了更好的浏览体验, 推荐你使用标准浏览器如: Chrome, Firefox或最新版本的IE浏览器</p>
      <![endif]-->

      <!-- Add your site or application content here -->
      
      <header>
      </header>
          <div class="search-box">
               <div class="glogo">
                  <div nowrap="" class="tname"><%= constant.name%></div>
                </div>
                <form class="s_box" method="get" action="/search" onsubmit="return document.getElementById('id_s_text').value==''?false:true;">
                    <input id="id_s_text" class="s_text" name="q" type="text" tabindex="1"  autocomplete="off" autofocus/>
                    <!-- <input id="id_s_text" class="s_text" name="q" type="text" tabindex="1"  autocomplete="off" placeholder="" autofocus/> -->
                    <input class="m-button" value="搜索一下" type="submit" tabindex="2" />
                </form>
                <div class="search__autocomplete" style="position: absolute; display: none;">
                    <div class="acp-wrap">
                    </div>
                </div>
                <div class="help-tips">
                  <h4><%- word%></h4>         
                </div>
                <ul class="help-tools">
                  <li style="padding-left:20px;">
                      <a class="set_btn" tabindex="3" onclick="setAsDefault()">
                          <i class="border-round fa fa-plus fa-lg"></i>
                          <span>设为默认
                            <span>搜索引擎</span>
                          </span>
                      </a>
                  </li>
                  <li style="padding-left:120px;">
                      <div id="share-popover" class="popover top" style="top: 90%;left: 268px; width: 174px; display:none;">
                        <div class="arrow"></div>
                        <h3 class="popover-title">分享给朋友们</h3>
                        <div class="popover-content">
                            <div class="home-share">
                                <a title="分享到新浪微博" class="bds_tsina" data-cmd="tsina"></a>
                                <!-- <a title="分享到微信" class="bds_weixin" data-cmd="weixin"></a> -->
                                <a title="分享到QQ好友" class="bds_sqq" data-cmd="sqq"></a>
                                <a title="分享到豆瓣网" class="bds_douban" data-cmd="douban"></a>
                                <a title="分享到腾讯微博" class="bds_tqq" data-cmd="tqq"></a>
                            </div>
                        </div>
                      </div>
                      <a class="set_btn" tabindex="5" onclick="swithPopver('share-popover');">
                          <i class="border-round fa fa-share fa-lg"></i>
                          <span>帮忙分享</span>
                      </a>
                  </li>
                </ul>
          </div>
      <%- include partials/footer%>
       <!-- jQuery 
      <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script> -->
      <script>window.jQuery || document.write('<script src="<%= constant.r_prefix%>/javascripts/vendor/jquery.min.js"><\/script>')</script>
      <script src="<%= constant.r_prefix%>/javascripts/main.js"></script>
      <script src="<%= constant.r_prefix%>/javascripts/plugins.js"></script>
      <script type="text/javascript">
        plugin.loadBaiduShare();
        var g_url = '<%= constant.autocomplate_url%>';
        $("#id_s_text").keyup(function (event) {
          plugin.autocomplate(event,g_url);
        });
      </script>
    <%if (!constant.encrypted) {%>
    <script type="text/javascript" src="<%= constant.r_prefix%>/javascripts/wordcheck.js"></script>
    <%}%>
    <%- include partials/statistics%>
  </body>
</html>
