<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head> 
    <title><%= qs.q %> - 谷搜客</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="description" content="谷搜客基于Google搜索,为喜爱谷歌搜索的朋友们免费提供高速稳定的搜索服务。搜索结果通过Google.com实时抓取，欢迎您在日常生活学习中使用谷搜客查询资料。" />
    <meta name="keywords" content="谷歌 谷搜客 google 谷歌不能访问 gusouk" />
    <meta name="apple-mobile-web-app-title" content="谷搜客">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="author" content="Longbo Ma,mlongbo@gmail.com China">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/pure-min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <!--[if lt IE 9]>
    <style>
        .headroom-pinned {
            top: 0;
        }
        .headroom-unpinned {
            top: -100px;
        }
    </style>
    <![endif]-->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="icon" href="/images/favicon.ico">
    <link rel="bookmark" type="image/x-icon"  href="/images/favicon.ico" />
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="谷搜客" />
    <script src="/javascripts/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>

    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <header class="header-bar" id="header_bar">
            <div style="width: 100%">
                <div class="logo">
                    <a href="/"><img width="167" height="373" src="/images/nav_logo.png"></a>
                </div>
                <div class="form_box result">
                    <form action="/search">
                        <input id="id_s_text" class="s_text" name="q" type="text" tabindex="1"  autocomplete="off" placeholder="" onkeyup="plugin.autocomplate(event,'//58.123.102.99')" value="<%= qs.q %>" />
                        <input id="opt_lang" name="lr" type="hidden" value="<%= qs.lr%>" /> <!-- 筛选语言 -->
                        <input id="opt_qdr" name="qdr" type="hidden" value="<%= qs.qdr%>" /> <!-- 筛选时间 -->
                      <input class="m-button" value="搜&nbsp;&nbsp;索" type="submit" tabindex="2" />
                    </form>
                      <div class="search__autocomplete result" style="position: absolute; display: none;">
                          <div class="acp-wrap">
                          </div>
                      </div>
                </div>
            </div>
            <div id="hdtbSum" style="padding-left: 115px;margin-top:15px;">
                <div id="hdtb_msb">
                 <div class="hdtb_mitem hdtb_msel hdtb_imb" onclick="plugin.toolbar.lang.swithDropMenu();">
                  语言<span class="caret"></span>
                 </div>
                 <ul class="dropdown-menu lang" style="left: -21px;">
                    <% if (!qs.lr) {%>
                        <li class="active"><a data-index=''>不限语言</a></li>
                    <% } else {%>
                        <li><a data-index=''>不限语言</a></li>
                    <% } %>

                    <% if (qs.lr == 3) {%>
                        <li class="active"><a data-index='3'>所有中文</a></li>
                    <% } else {%>
                        <li><a data-index='3'>所有中文</a></li>
                    <% } %>

                    <% if (qs.lr == 1) {%>
                         <li class="active"><a data-index='1'>简体中文</a></li>
                    <% } else {%>
                        <li><a data-index='1'>简体中文</a></li>
                    <% } %>

                    <% if (qs.lr == 2) {%>
                        <li class="active"><a data-index='2'>繁体中文</a></li>
                    <% } else {%>
                        <li><a data-index='2'>繁体中文</a></li>
                    <% } %>

                    <% if (qs.lr == 4) {%>
                        <li class="active"><a data-index='4'>英文</a></li>
                    <% } else {%>
                        <li><a data-index='4'>英文</a></li>
                    <% } %>

                    <% if (qs.lr == 5) {%>
                        <li class="active"><a data-index='5'>韩文</a></li>
                    <% } else {%>
                        <li><a data-index='5'>韩文</a></li>
                    <% } %>

                    <% if (qs.lr == 6) {%>
                        <li class="active"><a data-index='6'>日文</a></li>
                    <% } else {%>
                        <li><a data-index='6'>日文</a></li>
                    <% } %>

                    <% if (qs.lr == 7) {%>
                        <li class="active"><a data-index='7'>法文</a></li>
                    <% } else {%>
                        <li><a data-index='7'>法文</a></li>
                    <% } %>

                    <% if (qs.lr == 8) {%>
                        <li class="active"><a data-index='8'>德文</a></li>
                    <% } else {%>
                        <li><a data-index='8'>德文</a></li>
                    <% } %>

                    <% if (qs.lr == 9) {%>
                        <li class="active"><a data-index='9'>西班牙</a></li>
                    <% } else {%>
                        <li><a data-index='9'>西班牙</a></li>
                    <% } %>

                    <% if (qs.lr == 10) {%>
                        <li class="active"><a data-index='10'>意大利</a></li>
                    <% } else {%>
                        <li><a data-index='10'>意大利</a></li>
                    <% } %>
                  </ul>
                 <div class="hdtb_mitem hdtb_msel hdtb_imb" onclick="plugin.toolbar.qdr.swithDropMenu();">
                  时间<span class="caret"></span>
                 </div>
                 <ul class="dropdown-menu qdr" style="left: 37px;">
                    <% if (!qs.qdr) {%>
                        <li class="active"><a data-index='0'>全部时间</a></li>
                    <% } else {%>
                        <li><a data-index='0'>全部时间</a></li>
                    <% } %>

                    <% if (qs.qdr === 1) {%>
                        <li class="active"><a data-index='1'>过去一小时内</a></li>
                    <% } else {%>
                        <li><a data-index='1'>过去一小时内</a></li>
                    <% } %>

                    <% if (qs.qdr === 2) {%>
                         <li class="active"><a data-index='2'>过去24小时内</a></li>
                    <% } else {%>
                        <li><a data-index='2'>过去24小时内</a></li>
                    <% } %>

                    <% if (qs.qdr === 3) {%>
                        <li class="active"><a data-index='3'>过去一周内</a></li>
                    <% } else {%>
                        <li><a data-index='3'>过去一周内</a></li>
                    <% } %>

                    <% if (qs.qdr === 4) {%>
                        <li class="active"><a data-index='4'>过去一个月内</a></li>
                    <% } else {%>
                        <li><a data-index='4'>过去一个月内</a></li>
                    <% } %>

                    <% if (qs.qdr === 5) {%>
                        <li class="active"><a data-index='5'>过去一年内</a></li>
                    <% } else {%>
                        <li><a data-index='5'>过去一年内</a></li>
                    <% } %>
                  </ul>
                 <!-- <div class="hdtb_mitem hdtb_imb">
                  <a href="">地图</a>
                 </div>
                 <div class="hdtb_mitem hdtb_imb">
                  <a href="">新闻</a>
                 </div>
                 <div class="hdtb_mitem hdtb_imb">
                  <a href="">视频</a>
                 </div> -->
                </div>
              </div>

    </header>
    <div class="content">
        <div style="padding-top: 59px;">
               <div class="result_stats" id="result_stats">
                
               </div>
               <div class="search_result" id="search_result">
                    <div class="s_r shadow">
                        <div class="med none-result">
                            <p>
                                找不到和您的查询
                                <br>
                                "<em>
                                <%= qs.noneQ%>
                                </em>"
                                <br>
                                相符的内容或信息。
                            </p>
                            <p style="margin-top:1em">
                                建议：
                            </p>
                            <ul>
                                <li>
                                    请检查输入字词有无错误。
                                </li>
                                <li>
                                    请尝试其他的查询词
                                </li>
                                <li>
                                    请改用较常见的字词。
                                </li>
                                <li>
                                    请减少查询字词的数量。
                                </li>
                            </ul>
                        </div>
                    </div>
            </div>
        </div>
        <div class="">
             <!-- <p>Thirds1</p> -->
         </div>
    </div>
            <%- include partials/footer%>
    <!-- jQuery 
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script> -->
    <script>window.jQuery || document.write('<script src="/javascripts/vendor/jquery.min.js"><\/script>')</script>
    <script src="/javascripts/vendor/headroom.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/plugins.js"></script>
<%if (!constant.encrypted) {%>
    <script type="text/javascript" src="/javascripts/wordcheck.js"></script>
<%}%>
    <script type="text/javascript">
        plugin.headroom("#header_bar");
        plugin.toolbar.lang.bindClick();
        plugin.toolbar.qdr.bindClick();
   </script>
 <!--这是我自己的网站统计   http://gso.mlongbo.com    请替换或注释掉-->
 <!--
 <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42596364-3', 'auto');
    ga('send', 'pageview');
  </script>
  -->
</body>
</html>