<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head> 
    <title><%= qs.q %> - <%= constant.name%></title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="description" content="谷搜客基于Google搜索,为喜爱谷歌搜索的朋友们免费提供高速稳定的搜索服务。搜索结果通过Google.com实时抓取，欢迎您在日常生活学习中使用谷搜客查询资料。" />
    <meta name="keywords" content="谷歌 谷搜客 google 谷歌不能访问 gusouk" />
    <meta name="apple-mobile-web-app-title" content="<%= constant.name%>">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="author" content="Longbo Ma,mlongbo@gmail.com China">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/pure-min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <!--[if lt IE 9]>
    <style>
        .headroom-pinned {
            top: 0;
        }
        .headroom-unpinned {
            top: -100px;
        }
    </style>
    <![endif]-->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="icon" href="/images/favicon.ico">
    <link rel="bookmark" type="image/x-icon"  href="/images/favicon.ico" />
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="谷搜客" />
    <script src="/javascripts/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
    <header class="header-bar" id="header_bar">
            <div style="width: 100%">
                <div class="logo">
                    <a href="/"><img width="167" height="373" src="/images/nav_logo.png"></a>
                </div>
                <div class="form_box result">
                    <form action="/search">
                        <input id="id_s_text" class="s_text" name="q" type="text" tabindex="1"  autocomplete="off" value="<%= qs.q %>" />
                        <input id="opt_lang" name="lr" type="hidden" value="<%= qs.lr%>" /> <!-- 筛选语言 -->
                        <input id="opt_qdr" name="qdr" type="hidden" value="<%= qs.qdr%>" /> <!-- 筛选时间 -->
                      <input class="m-button" value="搜&nbsp;&nbsp;索" type="submit" tabindex="2" />
                    </form>
                      <div class="search__autocomplete result" style="position: absolute; display: none;">
                          <div class="acp-wrap">
                          </div>
                      </div>
                </div>
            </div>
            <div id="hdtbSum" style="padding-left: 115px;margin-top:15px;">
                <div id="hdtb_msb">
                 <div class="hdtb_mitem hdtb_msel hdtb_imb" onclick="plugin.toolbar.lang.swithDropMenu();">
                  语言<span class="caret"></span>
                 </div>
                 <ul class="dropdown-menu lang" style="left: -21px;">
                <% for (var i = 0, total = constants.lrArr.length; i < total; i++) {%>
                    <% if (qs.lr == i) {%>
                        <li class="active"><a data-index='<%=i%>'><%= constants.lrNames[i]%></a></li>
                    <% } else {%>
                        <li><a data-index='<%=i%>'><%= constants.lrNames[i]%></a></li>
                    <% } %>
                <% } %>
                  </ul>
                 <div class="hdtb_mitem hdtb_msel hdtb_imb" onclick="plugin.toolbar.qdr.swithDropMenu();">
                  时间<span class="caret"></span>
                 </div>
                 <ul class="dropdown-menu qdr" style="left: 37px;">
                <% for (var i = 0, total = constants.qdrArr.length; i < total; i++) {%>
                    <% if (qs.qdr == i) {%>
                        <li class="active"><a data-index='<%=i%>'><%= constants.qdrNames[i]%></a></li>
                    <% } else {%>
                        <li><a data-index='<%=i%>'><%= constants.qdrNames[i]%></a></li>
                    <% } %>
                <% } %>
                  </ul>
                 <!-- <div class="hdtb_mitem hdtb_imb">
                  <a href="">地图</a>
                 </div>
                 <div class="hdtb_mitem hdtb_imb">
                  <a href="">新闻</a>
                 </div>
                 <div class="hdtb_mitem hdtb_imb">
                  <a href="">视频</a>
                 </div> -->
                </div>
              </div>

    </header>
    <div class="content">
        <div style="padding-top: 59px;">
               <div class="result_stats" id="result_stats">
                
               </div>
               <div class="search_result" id="search_result">
                    <div class="s_r shadow">
                        <div class="med none-result">
                            <p>
                                找不到和您的查询
                                <br>
                                "<em>
                                <%= qs.noneQ%>
                                </em>"
                                <br>
                                相符的内容或信息。
                            </p>
                            <p style="margin-top:1em">
                                建议：
                            </p>
                            <ul>
                                <li>
                                    请检查输入字词有无错误。
                                </li>
                                <li>
                                    请尝试其他的查询词
                                </li>
                                <li>
                                    请改用较常见的字词。
                                </li>
                                <li>
                                    请减少查询字词的数量。
                                </li>
                            </ul>
                        </div>
                    </div>
            </div>
        </div>
        <div class="">
             <!-- <p>Thirds1</p> -->
         </div>
    </div>
            <%- include partials/footer%>
    <!-- jQuery 
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script> -->
    <script>window.jQuery || document.write('<script src="/javascripts/vendor/jquery.min.js"><\/script>')</script>
    <script src="/javascripts/vendor/headroom.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/plugins.js"></script>
<%if (!constant.encrypted) {%>
    <script type="text/javascript" src="/javascripts/wordcheck.js"></script>
<%}%>
    <script type="text/javascript">
        plugin.headroom("#header_bar");
        plugin.toolbar.lang.bindClick();
        plugin.toolbar.qdr.bindClick();
        
        var g_url = '<%= constant.autocomplate_url%>';
        $("#id_s_text").keyup(function (event) {
          plugin.autocomplate(event,g_url);
        });
   </script>
    <%- include partials/statistics%>
</body>
</html>