<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title><%= title %></title>
    <meta charset="utf-8"/>
      <meta name="description" content="谷搜,Google搜索" />
      <meta name="keywords" content="谷搜,Google搜索" />
      <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="GuSou" />
    <link rel="shortcut icon" type="image/x-icon" href="<%= r_prefix %>/images/favicon.ico" />
    <link rel="bookmark" type="image/x-icon"  href="<%= r_prefix %>/images/favicon.ico" />
    <link rel="icon" href="<%= r_prefix %>/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='<%= r_prefix %>/stylesheets/style.css?=v'/>
    <% if(result.mobile) {%>
    <link rel="stylesheet" href="<%= r_prefix %>/stylesheets/style-responsive.css?=v'"/>
    <%}%>
     <style>
        .headroom {
            transition: transform 200ms linear;
            -moz-transition: transform 200ms linear;/* Firefox 4 */
            -webkit-transition: transform 200ms linear;/* Safari 和 Chrome */
            -o-transition: transform 200ms linear; /* Opera */
        }
        .headroom-pinned {
            transform: translateY(0%);
            -ms-transform: translateY(0%);     /* IE 9 */
            -moz-transform: translateY(0%);   /* Firefox */
            -webkit-transform: translateY(0%); /* Safari 和 Chrome */
            -o-transform: translateY(0%); /* Opera */
        }
        .headroom-unpinned {
            transform: translateY(-100%);
            -ms-transform: translateY(-100%);     /* IE 9 */
            -moz-transform: translateY(-100%);   /* Firefox */
            -webkit-transform: translateY(-100%); /* Safari 和 Chrome */
            -o-transform: translateY(-100%); /* Opera */
        }
    </style>
    <!--[if lt IE 9]>
             <style>
                .headroom-pinned {
                    top: 0;
                }
                .headroom-unpinned {
                    top: -100px;
                }
        </style>
    <![endif]-->
</head>
<body>
<div class="wrapper">
    <div class="search-result">
        <div class="header-bar shadow"  id="header_bar">
            <div class="logo">
                <a href="/"><img width="167" height="373" src="<%= r_prefix %>/images/nav_logo.png"></a>
            </div>
            <div class="form_box">
                <form action="/search">
                    <input id="search_txt_id" class="s_text" type="text" name="q" value="<%= result.q%>" autocomplete="off"/>
                    <input class="s_submit m-button" value="搜&nbsp;索" type="submit">
                </form>
            </div>
        </div>


        <div class="content">
            <div class="result_stats" id="result_stats">
                <%- result.resultStats%>
            </div>

            <div class="search_result" id="search_result">
                <%for (var i = 0, total = result.data.length; i < total; i++) {%>
                <div class="s_r shadow">
                    <a target="_blank" class="title" href="<%= result.data[i].url%>" name="r_url"><%- result.data[i].title%></a>
                    <div class="visible_url"><%- result.data[i].cite%></div>
                    <div class="min_content"><%- result.data[i].content%></div>
                </div>
                <%}%>
            </div>
            <% if(!result.mobile && result.extrares.has) {%>
            <div id="extrares" style="padding:0 8px">
                <div style="clear:both;overflow:hidden" id="brs">
                    <h3 class="med" style="text-align:left">
                        <%- result.extrares.title%>
                    </h3>
                    <div>
                    <%for (var i = 0, total = result.extrares.arr.length; i < total; i++) {%>
                        <div class="brs_col">
                        <%for (var j = 0, total2 = result.extrares.arr[i].length; j < total2; j++) {%>
                            <p class="_e4b">
                            <a href="<%= result.extrares.arr[i][j]['url']%>"><%- result.extrares.arr[i][j]['content']%></a>
                            </p>
                        <%}%>
                        </div>
                    <%}%>
                    </div>
                </div>
            </div>
            <%}%>
            <div class="navcnt">
                <% if(result.mobile) {%>
                <div id="mobile_next_page" class="next_page shadow">
                    <img src="<%= r_prefix %>/images/ajax-loader.gif" alt="" class="hidden"/>
                    <span>
                        下一页
                    </span>
                </div>
                <%}else{%>
                <table style="border-collapse:collapse;text-align:left;margin:30px auto 30px">
                    <tbody>
                    <tr valign="top">
                        <td class="b navend">
                            <%if (result.start > 0) {%>
                            <a class="pn" href="/search?q=<%= result.encodeQ%>&start=<%= page.pre%>" id="pnnext" style="text-decoration:none;text-align:left">
                                <span class="csb" style="background:url(<%= r_prefix %>/images/nav_logo.png) no-repeat;background-position:0 0;width:53px;"></span>
                                <span class="txt" style="display:block;">上一页</span>
                            </a>
                            <%} else {%>
                            <span class="csb gbil" style="background:url(<%= r_prefix %>/images/nav_logo.png) no-repeat;background-position:-24px 0;background-size:167px;width:28px"></span>
                            <%}%>
                        </td>
                        <% for (var i = page.start,index=0, total = page.end; i <total; i++) {%>
                        <%if (result.start == i*10) {%>
                        <td class="fl cur">
                            <a class="fl cur">
                                <span class="csb gbil" style="background:url(<%= r_prefix %>/images/nav_logo.png) no-repeat;background-position:-53px 0;background-size:167px;width:20px"></span>
                                <%= page.num[index++]/10+1%>
                            </a>
                        <td>
                            <%} else {%>
                        <td>
                            <a class="fl" href="/search?q=<%= result.encodeQ%>&start=<%= page.num[index]%>">
                                <span class="csb" style="background:url(<%= r_prefix %>/images/nav_logo.png) no-repeat;background-position:-74px 0;background-size:167px;width:20px"></span>
                                <%= page.num[index++]/10+1%>
                            </a>
                        </td>
                        <%}%>
                        </td>
                        <%}%>
                        <td class="b navend">
                            <a class="pn" href="/search?q=<%= result.encodeQ%>&start=<%= page.next%>" id="pnnext"
                               style="text-decoration:none;text-align:left">
                                  <span class="csb" style="background:url(<%= r_prefix %>/images/nav_logo.png) no-repeat;background-position:-96px 0;background-size:167px;width:71px">

                                  </span>
                                <span class="txt" style="display:block;margin-left:53px">下一页</span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <%}%>
            </div>
            <% if(!result.mobile) {%>
            <div id="footcnt">
            <div>
                <style>
                    .fmulti{}._dQc{bottom:0;left:0;position:absolute;right:0}._GR{background:#f2f2f2;left:0;right:0;-webkit-text-size-adjust:none}.fbar
                    p{display:inline}.fbar a,#fsettl{text-decoration:none;white-space:nowrap}.fbar
                    ._Gs{padding:0 0 0 27px !important;margin:0 !important}.fbar ._eA{padding:0
                    !important;margin:0 !important}#fbarcnt{display:block}._E2 a:hover{text-decoration:underline}._HR
                    img{margin-right:4px}._HR a,._GR #swml a{text-decoration:none}.fmulti{text-align:center}.fmulti
                    #fsr{display:block;float:none}.fmulti #fuser{display:block;float:none}#fuserm{line-height:25px}#fsr{float:right;white-space:nowrap}#fsl{white-space:nowrap}#fsett{background:#fff;border:1px
                    solid #999;bottom:30px;padding:10px 0;position:absolute;box-shadow:0 2px
                    4px rgba(0,0,0,0.2);-webkit-box-shadow:0 2px 4px rgba(0,0,0,0.2);text-align:left;z-index:100}#fsett
                    a{display:block;line-height:44px;padding:0 20px;text-decoration:none;white-space:nowrap}._E2
                    #fsettl:hover{text-decoration:underline}._E2 #fsett a:hover{text-decoration:underline}._mk{color:#777}._Nh{color:#222;font-size:14px;font-weight:normal;-webkit-tap-highlight-color:rgba(0,0,0,0)}._Nh:hover,._Nh:active{color:#444}._Mo{display:inline-block;position:relative}._ri,._Wk{height:13px;width:8px}._ri:before,._Wk:before{border:8px
                    solid rgba(255,255,255,0);border-radius:8px;content:'';position:absolute}._ri:before{border-left:8px
                    solid #777;left:1px}._Wk:before{border-right:8px solid #777;left:-9px}._ri:after,._Wk:after{border:12px
                    solid rgba(255,255,255,0);content:'';position:absolute;top:-4px}._ri:after{border-left:10px
                    solid #f6f6f6;left:-4px}._Wk:after{border-right:10px solid #f6f6f6;left:-10px}._sN
                    ._ri:after{border-left:10px solid white}._sN ._Wk:after{border-right:10px
                    solid white}._Nh{padding:8px 16px;margin-right:10px}._mk{margin:40px 0}._dD{margin-right:10px}._nW{margin-left:135px}#fbar{background:#f2f2f2;border-top:1px
                    solid #e4e4e4;line-height:40px;min-width:980px}#fbar._Zvd{padding-top:18px}._HR{color:#aaa}._HR
                    a,#swml a{color:#777}._HR a,#swml a:hover{color:#333}._xac{margin-left:135px}.fbar
                    p,.fbar a,#fsettl,#fsett a{color:#777}.fbar a:hover,#fsett a:hover{color:#333}.fbar{font-size:small}#fuser{float:right}
                </style>
                <div id="fbarcnt" style="position: relative; visibility: visible; height: auto;">
                    <div class="_Zvd" id="fbar" style="left:0;right:0">
                        <style>
                            .known_loc{background:#1898C7;box-shadow:0 0 0 1px #1F8FC2}.unknown_loc{background:#9A9FA4;box-shadow:0
                            0 0 1px #97999D}.known_loc,.unknown_loc{border-radius:100%;display:inline-block;height:8px;margin:7px
                            5px 10px 1px;vertical-align:middle;width:8px}._uIb{display:inline-block}._HR{margin-left:135px;line-height:15px;}
                        </style>
                        <div class="fbar">
                            <span class="_nW">
                                <span id="fsr">
                                    <!-- <a class="_eA" href="http://mlongbo.com/set_as_default_search_engine/" target="_blank">
                                        设置为默认搜索引擎
                                    </a> -->
                                    <a class="_Gs" href="http://mlongbo.com/set_as_default_search_engine/" target="_blank">
                                        设置为默认搜索引擎&nbsp;&nbsp;&nbsp;
                                    </a>
                                </span>
                                <span id="fsl">
                                    <a class="_eA" href="http://mlongbo.com/aboutgso/" target="_blank">
                                        捐助
                                    </a><!-- 
                                    <a class="_Gs" href="https://github.com/lenbo-ma/gso/issues" target="_blank">
                                        GitHub Issues
                                    </a> -->
                                    <a class="_Gs" href="mailto:mlongbo@gmail.com?subject=[GuSou]-" target="_blank">
                                        给我发邮件
                                    </a>
                                    <a class="_Gs" href="/feedback" target="_blank" title="踊跃发言啦">
                                        <strong>提建议</strong>
                                    </a>
                                    <a class="_Gs" href="/issues" target="_blank" title="在这里提交遇见的问题">
                                        <strong>提Bug</strong>
                                    </a>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%}%>
        </div>
    </div>
</div>

    <script src="//cdn.bootcss.com/headroom/0.5.0/headroom.min.js"></script>
   <script type="text/javascript">
        (function (Headroom) {
            var myElement = document.querySelector("#header_bar");
            // 创建 Headroom 对象，将页面元素传递进去
            var headroom  = new Headroom(myElement, {
                classes : {
                  pinned : 'headroom-pinned',
                  unpinned : 'headroom-unpinned'
                }
            });
            // 初始化
            headroom.init(); 
        })(Headroom);
   </script>

<% if(result.mobile) {%>
<script src="//cdn.bootcss.com/zepto/1.1.4/zepto.min.js"></script>
<script type="application/javascript">
    (function () {
        var start = 0;
        var q = $("#search_txt_id").val();
        var isLoad = false;
        $("#mobile_next_page").click(function () {
            if (isLoad) {
                return false;
            }
            var self = $(this);
            start+=10;
            self.find('img').show();
            self.find('span').hide();
            $.ajax({
                url: '/search?mobile=1&q='+q+'&start='+start,
                success: function (res) {
                    $('#search_result').append(res);
                    self.find('img').hide();
                    self.find('span').show();
                }
            });
        });
    })();
</script>
<%}%>
    <script type="text/javascript" src="<%= r_prefix %>/javascripts/wordcheck.js?=v'"></script>
<!--这是我自己的网站统计   http://gso.mlongbo.com    请替换掉-->
<!--//gascript <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42596364-2', 'auto');
    ga('send', 'pageview');

</script> //gascript-->
</body>
</html>
