<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title><%= title %></title>
      <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
      <link rel="bookmark" type="image/x-icon"  href="/images/favicon.ico" />
      <link rel="icon" href="/images/favicon.ico">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
  <div class="wrapper">

      <div class="search-result">
          <div class="header-bar">
              <div class="logo">
                  <a href="/"><img width="167" height="373" src="/images/nav_logo.png"></a>
              </div>
              <div class="form_box">
                  <form action="/search" onsubmit="return document.getElementById('search_txt_id').value==''?false:true;">
                      <input id="search_txt_id" class="s_text" type="text" name="q" value="<%= result.q%>">
                      <input class="s_submit m-button" value="" type="submit">
                  </form>
              </div>
          </div>


          <div class="content">
              <!--<div class="content_header">
                  <div class="link">
                      <a class="active" href="#">网页</a>
                      <a href="#">图片</a>
                  </div>
              </div>-->
              <div class="result_stats" id="result_stats">
                  <%= result.resultStats%>
              </div>

              <!--<div class="notice">
                  <h1>GoogleStable渴望您的捐助</h1>
                  <p>本站开发之初只为作者个人使用，但后来经过大量传播，导致服务器难承负荷。
                      因为本站并不盈利，作者又无其他收入来源。所以在此希望各位朋友能够慷慨解囊。
                      只为让更多的人获取知识，认识世界。
                  </p>
                  <p>
                      <a href="http://www.py46.com/googlestable/">捐助</a>&nbsp;&nbsp;&nbsp;
                      <a href="/imabetterman/">不再显示</a>
                  </p>
              </div>-->


              <div class="search_result">
                   <%for (var i = 0, total = result.data.length; i < total; i++) {%>
                  <div class="s_r">
                      <a target="_blank" class="title" href="http://<%= result.data[i].url%>" name="r_url"><%= result.data[i].title%></a>
                      <div class="visible_url"><%= result.data[i].cite%></div>
                      <div class="min_content"><%= result.data[i].content%></div>
                  </div>
                  <%}%>
              </div>

              <div class="navcnt">
                  <table style="border-collapse:collapse;text-align:left;margin:30px auto 30px">
                      <tbody>
                      <tr valign="top">
                          <td class="b navend">
                              <span class="csb gbil" style="background:url(/images/nav_logo.png) no-repeat;background-position:-24px 0;background-size:167px;width:28px"></span>
                          </td>
                          <td class="fl cur">
                              <a class="fl cur" href="/search?q=你好">
                                  <span class="csb gbil" style="background:url(/images/nav_logo.png) no-repeat;background-position:-53px 0;background-size:167px;width:20px"></span>1
                              </a>
                          </td>
                          <td>
                              <a class="fl" href="/search?q=你好&start=10">
                                  <span class="csb" style="background:url(/images/nav_logo.png) no-repeat;background-position:-74px 0;background-size:167px;width:20px"></span>2
                              </a>
                          </td>
                          <td>
                              <a class="fl" href="/search?q=你好&start=20">
                                  <span class="csb" style="background:url(/images/nav_logo.png) no-repeat;background-position:-74px 0;background-size:167px;width:20px"></span>3
                              </a>
                          </td>
                          <td>
                              <a class="fl" href="/search?q=你好&start=30">
                                  <span class="csb" style="background:url(/images/nav_logo.png) no-repeat;background-position:-74px 0;background-size:167px;width:20px"></span>4
                              </a>
                          </td>
                          <td>
                              <a class="fl" href="/search?q=你好&start=40">
                                  <span class="csb" style="background:url(/images/nav_logo.png) no-repeat;background-position:-74px 0;background-size:167px;width:20px"></span>5
                              </a>
                          </td>
                          <td>
                              <a class="fl" href="/search?q=你好&start=50">
                                  <span class="csb" style="background:url(/images/nav_logo.png) no-repeat;background-position:-74px 0;background-size:167px;width:20px"></span>6
                              </a>
                          </td>
                          <td>
                              <a class="fl" href="/search?q=你好&start=60">
                                  <span class="csb" style="background:url(/images/nav_logo.png) no-repeat;background-position:-74px 0;background-size:167px;width:20px"></span>7
                              </a>
                          </td>
                          <td>
                              <a class="fl" href="/search?q=你好&start=70">
                                  <span class="csb" style="background:url(/images/nav_logo.png) no-repeat;background-position:-74px 0;background-size:167px;width:20px"></span>8
                              </a>
                          </td>
                          <td>
                              <a class="fl" href="/search?q=你好&start=80">
                                  <span class="csb" style="background:url(/images/nav_logo.png) no-repeat;background-position:-74px 0;background-size:167px;width:20px"></span>9
                              </a>
                          </td>
                          <td>
                              <a class="fl" href="/search?q=你好&start=90">
                                  <span class="csb" style="background:url(/images/nav_logo.png) no-repeat;background-position:-74px 0;background-size:167px;width:20px"></span>10
                              </a>
                          </td>
                          <td class="b navend">
                              <a class="pn" href="/search?q=你好&start=10" id="pnnext" style="text-decoration:none;text-align:left"><span class="csb" style="background:url(/images/nav_logo.png) no-repeat;background-position:-96px 0;background-size:167px;width:71px"></span>
                                  <span class="txt" style="display:block;margin-left:53px">下一页</span>
                              </a>
                          </td>
                      </tr>
                      </tbody>
                  </table>
              </div>
          </div>



      </div>


  </div>
  <script type="application/javascript">
      (function () {
          var urls = document.getElementsByName("r_url");
          for ( var i = 0, total = urls.length; i < total; i++) {
              var url = urls[i];
              url.innerHTML = url.innerText;
          }

          var cites = document.getElementsByClassName("visible_url");
          for ( var i = 0, total = cites.length; i < total; i++) {
              var cite = cites[i];
              cite.innerHTML = cite.innerText;
          }

          var resultStats = document.getElementById("result_stats");
          resultStats.innerHTML = resultStats.innerText;
      })();
  </script>
  </body>
</html>
